@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Medium.eot");
    src: local("Gilroy Medium"), local("Gilroy-Medium"),
        url("/fonts/Gilroy-Medium.eot") format("embedded-opentype"),
        url("/fonts/Gilroy-Medium.woff") format("woff"),
        url("/fonts/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Black.eot");
    src: local("Gilroy Black"), local("Gilroy-Black"),
        url("/fonts/Gilroy-Black.eot") format("embedded-opentype"),
        url("/fonts/Gilroy-Black.woff") format("woff"),
        url("/fonts/Gilroy-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: Bold;
}

.wardrobes {
    background-image: url(/img/1stpage_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1024px;
}
.container {
    padding: 132px;
}
.wardrobes_head_logotext {
    text-transform: uppercase;
    font-family: "Playfair Display";
    width: 202px;
    height: 52px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 52px;
    color: #c0ad95;
}
.wardrobes_head {
    display: flex;
    padding-left: 132px;
    justify-content: space-around;
}
.wardrobes_head_nav {
    display: flex;
    align-items: center;
}
.wardrobes_head_navitem {
    padding: 20px;
    list-style-type: none;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
}
.wardrobes_head_navitem_link {
    color: #ffffff;
    text-decoration: none;
}
.wardrobes_content_header {
    font-family: Cormorant;
    font-size: 70px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.wardrobes_content_description {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 28px;
    color: #ffffff;
}
.timer_item {
    width: 44px;
    height: 40px;
    background-color: white;
    margin-left: 13px;
}
.timer_span_item {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 28px;
    color: #11100e;
    display: flex;
    justify-content: center;
}
.timer_items {
    border-spacing: 13px;
}
.wardrobes_content_timer_text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 28px;
    color: #ffffff;
}
.timer_item_description {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
    color: #ffffff;
}
.wardrobes_phone_input {
    width: 510px;
    height: 51px;
    background: #fbfbfb;
    border-radius: 8px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 28px;
    color: rgba(7, 7, 7, 0.39);
    padding-left: 20px;
    margin: 30px 0;
    border: transparent;
}
.wardrobes_phone_button {
    width: 260px;
    height: 56px;
    background: #cfc6ba;
    border-radius: 8px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 28px;
    color: #ffffff;
    border: transparent;
    transition: 0.5s;
}
.wardrobes_phone_button:hover {
    background: #af9678;
    transition: 0.5s;
}
.wardrobes_content {
    position: relative;
}
.wardrobes_upperline {
    width: 449.03px;
    max-width: 100%;
    border: 2px solid white;
}
.wardrobes_right_panel {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    transform: rotate(90deg);
    margin-top: 137px;
    padding-bottom: 596px;
}
.wardrobes_right_panel_socialmedia_pict {
    transform: rotate(270deg);
    margin-left: 17px;
}
.wardrobes_right_panel_socialmedia {
    margin-left: 20px;
}
.wardrobes_downline {
    width: 240px;
    margin-left: 37px;
    border: 2px solid white;
}
.socialmedia_link {
    text-decoration: none;
    cursor: pointer;
}
.check-price_picture_line {
    width: 100px;
    border: 2px solid black;
}
.check-price_picture {
    max-width: 417px;
    position: relative;
}
.upper1st {
    margin-left: 256px;
    margin-bottom: 28px;
}
.upper2nd {
    transform: rotate(90deg);
    margin-left: 338px;
    position: absolute;
    top: 214px;
}
.down1st {
    position: absolute;
    transform: rotate(90deg);
    margin-left: -83px;
    top: 654px;
}
.down2nd {
    margin-top: 28px;
    margin-left: 0;
}
.check-price_text-content_heading {
    font-family: Cormorant;
    font-style: normal;
    font-weight: normal;
    font-size: 68px;
    line-height: 71px;
    color: #11100e;
    margin-bottom: 0px;
}
.check-price_text-content_description {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #11100e;
    margin-top: 26px;
}
.check-price {
    display: flex;
    position: relative;
}
.check-price_text-content {
    margin-top: 251px;
}
.upbutton {
    transform: rotate(-90deg);
    width: 76px;
    height: 76px;
    border: 2px solid #af9678;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    margin-top: 60px;
    background-color: #e5e5e5;
    cursor: pointer;
    position: sticky;
}
.upbutton_arrow {
    transform: rotate(90deg);
}
.check-price_bottom-line {
    border: 2px solid #af9678;
    margin: 0 132px;
}
.about_heading {
    font-family: Cormorant;
    font-style: normal;
    font-weight: normal;
    font-size: 68px;
    line-height: 28px;
    color: #937a60;
}
.about_description {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 44px;
    color: #000000;
}
.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 146px;
}
.why-us_heading {
    font-family: Cormorant;
    font-style: normal;
    font-weight: normal;
    font-size: 63px;
    line-height: 28px;
    color: #937a60;
    text-align: center;
}
.why-us_table-text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 29px;
    color: #000000;
}
.why-us_table {
    border-spacing: 40px;
    margin-left: 105px;
}